.card :hover img{
    transform: scale(1.2 , 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 300px;
    width: 20rem;
}

.card img{
    transform: scale(1 , 1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 300px;
    width: 20rem;
}

.img-wrapper{
    overflow: hidden;
}

.card-title{
    color: chocolate;
    font-family: "Apple Chancery", "cursive";
}

.card-text{
    font-family: "URW Chancery L", "cursive";
}

a {
    color: chocolate;
    text-decoration: none;
    font-family: "Apple Chancery", "cursive";
  }
  
  a:hover {
      color: blue;
  }

  .star {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #d3d3d3;
  }

  .full {
    color: blue;
  }

  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: blue;
  }
  
    #element1 {display:inline-block;margin-right:10px;} 
    #element2 {display:inline-block;} 

  .tab{
    margin-top: 20px;
    margin-left: 20px;
  }