<app-user-nav></app-user-nav>
<br><br><br>

<div *ngIf="!product">
    <app-spinner></app-spinner>
</div>

<div class="row" style="min-height: 95%;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="img-wrapper" *ngIf="product">
                            <img class="card-img-top" src="{{product.image}}">
                        </div>
                    </div>
                    <div class="col-sm-7" *ngIf="product">
                        <h3>{{product.name}}</h3>

                        <ng-template #t let-fill="fill">
                            <span class="star" [class.full]="fill === 100">
                              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                            </span>
                        </ng-template>
                          
                        <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                        <pre>Rating: <b>{{currentRate}}</b></pre>
                        <hr>
                        <h4 style="color: orange;"> 
                            ৳ {{product.price}}
                            <span *ngIf="product.unit">
                                Per {{product.unit}}
                            </span>
                        </h4>
                        Available: {{product.quantity}} {{product.unit}} <br><br>

                        
                        <div class="btn-group" style="height: 30px;">
                            Quantity
                            <button style="margin-left: 20px;" (click)="toggleLess()">
                                <mat-icon>
                                    <span class="material-icons">remove</span>
                                </mat-icon>
                            </button>
                            <input type="number" style="margin-left: 10px; margin-right: 10px;" [(ngModel)]="Cnt">
                            <button (click)="toggleMore()">
                                <mat-icon>
                                    <span class="material-icons">add</span>
                                </mat-icon>
                            </button>
                        </div>

                        <div style="margin-top: 30px;">
                            <button type="submit" class="btn btn-primary" style="width: 200px;" (click)="addToCart()">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 50px; min-height: 400px;">
                    <div class="col-sm-12">
                        <mat-tab-group>
                            <mat-tab label="Description"> 
                                <div class="tab">
                                    <h5>{{product.Description}}</h5>
                                </div>
                            </mat-tab>
                            <mat-tab label="Detail"> 
                                <div class="tab">
                                    <h5>We collect all our fruit from garden. So, you can trust us for fresh fruit.</h5>
                                </div>
                            </mat-tab>
                            <mat-tab label="Review">
                                <div class="tab">
                                    <h5>Rating Of The Product:</h5>
                                    <ng-template #t let-fill="fill">
                                        <span class="star" [class.full]="fill === 100">
                                          <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                        </span>
                                    </ng-template>
                                      
                                    <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                                    <pre>Rating: <b>{{currentRate}}</b></pre>

                                    <h5>Reviewed by 463 customers</h5>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>