<app-user-nav></app-user-nav>
<br><br><br>

<div class="row m-auto">
    <div class="col-2 ml-auto">
        <img [src]="createImgPath(userProfile.profilePicture)" alt="profile picture"
        style="width: 200px; height: 200px;">
        <app-upload-file (onUploadFinished)="uploadFinished($event)"
        [buttonName]=' "Change Profile Picture" '>
        </app-upload-file>
    </div>
    
    <div class="col-9 m-auto border-left">
        <form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
            <div class="form-group col-12">
                <h5>Profile Settings</h5>
            </div>

            <div class="form-group col-12">
                <label for="FirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" formControlName="FirstName">
            </div>

            <div class="form-group col-12">
                <label for="LastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" formControlName="LastName">
            </div>

            <div class="form-group col-12">
                <label for="Mobile" class="form-label">Mobile</label>
                <input type="text" class="form-control" formControlName="Mobile">
            </div>

            <div class="form-group col-12">
                <label for="Email" class="form-label">Email</label>
                <input type="text" class="form-control" formControlName="Email">
            </div>

            <div class="form-group col-12">
                <label for="UserName" class="form-label">Username</label>
                <input type="text" class="form-control" formControlName="UserName" readonly>
            </div>

            <div class="form-group col-12">
                <button type="submit" class="btn btn-primary">Update Profile</button>
                <button type="reset" class="btn btn-secondary ml-2" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>