<app-user-nav></app-user-nav>
<br><br><br>

<div class="row">
    <div class="col-2 m-auto">
        <img src="https://drive.google.com/thumbnail?id=13gyG1UFLL1oZoSJYZVs-M5yxhM74Fb2Q" width="200px" height="300px">
        <h5 style="margin-top: 30px; text-align: center;">{{userName}}</h5>
    </div>
    
    <div class="col-9 m-auto border-left">
        <form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
            <div class="form-group col-12">
                <h5>Profile Settings</h5>
            </div>

            <div class="form-group col-12">
                <label for="FirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" formControlName="FirstName">
            </div>

            <div class="form-group col-12">
                <label for="LastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" formControlName="LastName">
            </div>

            <div class="form-group col-12">
                <label for="UserName" class="form-label">Username</label>
                <input type="text" class="form-control" formControlName="UserName" readonly>
            </div>

            <div class="form-group col-12">
                <button type="submit" class="btn btn-primary">Update Profile</button>
                <button type="reset" class="btn btn-secondary ml-2" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
