<app-user-nav></app-user-nav>
<br><br><br>
<div class="row" style="width: 50%; margin: 0 auto;" *ngIf="myCart && myCart.orderedProductList && myCart.orderedProductList.length > 0">
    <div class="col">
        <table class="table table-hover">
            <thead>
              <tr style="background-color: tan;">
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of myCart.orderedProductList">
                <td>{{item.pName}}</td>
                <td>
                    <div class="row">
                        <div class="col-sm-2">
                            <span>{{item.pPrice}}</span>
                        </div>
                        <div class="col-sm-1">
                            <span> x </span>
                        </div>
                        <div class="col-sm-2">
                            <span>{{item.pQuantity}}</span>
                        </div>
                        <div class="col-sm-1">
                            <span> = </span>
                        </div>
                        <div class="col-sm-2">
                            <span>{{item.pPrice * item.pQuantity}}</span>
                        </div>
                    </div>
                </td>
                <td>
                    <button (click)="removeItem(item)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                    </button>
                </td>
              </tr>
              <tr>
                  <td>Delivery Charge</td>
                  <td>
                    <div class="row">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-1"> = </div>
                        <div class="col-sm-2">40</div>
                    </div>
                  </td>
                  <td></td>
              </tr>
              <tr style="background-color:skyblue">
                  <td>Total</td>
                  <td>
                    <div class="row">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-1"> = </div>
                        <div class="col-sm-2">{{totalCost}}</div>
                    </div>
                  </td>
                  <td></td>
              </tr>
            </tbody>
          </table>
          <div class="col btn-group">
            <button type="button" class="btn btn-outline-info" (click)="placeOrderDialog()">Checkout</button>
            <button type="button" class="btn btn-outline-secondary" (click)="confirmDialog()">Clear Cart</button>
        </div>
    </div>
</div>

<div class="row" style="width: 50%; margin: 0 auto;" *ngIf="!myCart || !myCart.orderedProductList || myCart.orderedProductList.length == 0">
    <div class="col">
        <table class="table table-hover">
            <thead>
              <tr style="background-color: tan;">
                <th style="text-align: center;">Your Cart Is Empty!</th>
              </tr>
            </thead>
        </table>
    </div>
</div>