<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://localhost:4200/admin-home">FruitCorner</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:4200/admin-home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Order</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="addProduct()">Add Product</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Admin</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-right">
              <button ngbDropdownItem>Profile</button>
              <button ngbDropdownItem>Change Password</button>
              <button ngbDropdownItem (click)="logOut()">Log Out</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>